html,
body {
  margin: 0;
}
body {
  background-color: aliceblue;
  display: flex;
  justify-content: center;
  font-family: "Nunito Sans", sans-serif;
  background-image: url(https://img.freepik.com/fotos-premium/interior-borrado-do-hospital-ou-clinico-com-povos-fundo-medico-abstrato_1484-1309.jpg);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.wrapper {
  width: 1200px;
  display: flex;
  margin: 0 auto;
}
.main {
  display: flex;
  flex-flow: column;
  width: 85%;
}
.menu {
  width: 11%;
  background-color: #176eb1;
  padding: 10px 20px 0px;
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  color: #fbfaff;
}
a {
  color: #fbfaff;
  text-decoration: solid;
}

#menubar {
  list-style-type: none;
  vertical-align: top;
  margin-left: -37px;
  font-size: 18px;
  line-height: 50px;
}

#homepng {
  width: 100%;
}
.content {
  background-color: white;
  min-height: 300px;
  padding: 20px;
}
.footer {
  min-height: 150px;
  justify-content: center;
  text-align: center;
}
#redes {
  list-style-type: none;
  margin-left: -37px;
  margin-top: -13px;
}
#contato {
  list-style-type: none;
  margin-left: -37px;
}
#fundo {
  width: 100%;
}
table tbody tr:hover {
  background-color: lightblue;
}
.googlemaps {
  display: flex;
  justify-content: center;
  align-items: center;
}
form {
  max-width: 350px;
  margin: 0 auto;
  padding: 20px;
  border: 2px solid #ccc;
  border-radius: 10px;
  text-align: center;
}
label {
  font-weight: bold;
  display: block;
  text-align: center;
}
#email {
  width: 250px;
}
#nomec {
  width: 250px;
}
#tel {
  width: 250px;
}
#servico {
  width: 250px;
}
#obs {
  width: 250px;
}
button {
  cursor: pointer;
  padding: 7px 25px;
  margin-right: 20px;
  margin-top: 10px;
}
button:hover {
  background-color: lightblue;
}
